**/__pycache__/
._env.yml
dev_env.yml
dist/
clampsuite.egg-info/
.vscode
docs/source/_build/
build
pyvenv.cfg
bin
include
lib
share
.ruff_cache
.mypy_cache
.pytest_cache
docs/build
docs/source/_build
testing.py