**/__pycache__/
final_test_doct.py
._env.yml
dev_env.yml
dist/
clampsuite.egg-info/
.vscode
docs/source/_build/
build
pyvenv.cfg
bin
include
lib
share
.ruff_cache
clampsuite/gui_widgets/test_widgets.py
.mypy_cache